@import '../../../public/scss/color';

.UP {
  // background-color: $main-color;
  &__wrap {
    padding: 1rem;
    padding-bottom: 0;
    &-background {
      width: 100%;  
      height: 260px;
    }
    &-avatar {
      display: flex;
      flex-direction: row;
      width: max-content;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      gap: 20px;
      align-items: center;
      top: 200px;
      left: 50px;
      img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 4px solid $main-color;
      }
      span {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
    &-links {
      background-color: $main-color;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      gap: 30px;
      height: 60px;
      align-items: center;
      color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.UP__active {
  i {
    color: #4294ff;
  }
}

.user-active {
  color: $active-color;
  font-weight: 600;
  border-bottom: 3px solid $active-color;
}


